<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Subject Dashboard</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font Awesome -->
  <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
    integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
    crossorigin="anonymous"></script>
  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 100%;
      width: 20em;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1AB7EA;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 2em;
      color: #818181;
      display: block;
    }

    .pts a {
      font-size: 1em;
    }

    .sidenav a:hover {
      color: #000;
    }

    .main {
      margin-left: 180px;
      /* Same as the width of the sidenav */
      font-size: 28px;
      /* Increased text to enable scrolling */
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      height: 90vh;
    }

    .test {
      font-size: 1em;
    }

    * {
      margin: 0;
      padding: 0;
    }

    .header {
      padding: 15px 20px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .header button {
      background: transparent;
      border: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
      outline: 0;
    }

    .toggle span {
      width: 100%;
      height: 3px;
      background: #555;
      display: block;
      position: relative;
      cursor: pointer;
    }

    .toggle span:before,
    .toggle span:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: #555;
      transition: all 0.3s ease-out;
    }

    .toggle span:before {
      top: -8px;
    }

    .toggle span:after {
      top: 8px;
    }

    .toggle span.toggle {
      background: transparent;
    }

    .toggle span.toggle:before {
      top: 0;
      transform: rotate(-45deg);
      background: #fff;
    }

    .toggle span.toggle:after {
      top: 0;
      transform: rotate(45deg);
      background: #fff;
    }

    .sidebar {
      background: #1AB7EA;
      width: 235px;
      position: fixed;
      top: 0;
      left: -235px;
      height: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      padding-top: 90px;
      transition: all 0.3s ease-out;
    }

    .sidebar ul {
      list-style: none;
    }

    .sidebar ul li {
      display: block;
    }

    .sidebar ul li a {
      padding: 8px 15px;
      font-size: 20px;
      color: #222;
      font-family: arial;
      text-decoration: none;
      display: block;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-out;
      font-weight: 500;
    }

    .sidebar ul li a:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 1px;
      background: #fff;
      z-index: -1;
      transition: all 0.3s ease-out;
    }

    .sidebar ul li a:hover:before {
      width: 100%;
    }

    .sidebar ul li a:hover {
      color: #fff;
    }

    .sidebarshow {
      left: 0;
    }
  .assignments{
        margin-left: 9rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

  }
  .card{
    width:18rem;
    margin:0.8rem;
  }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 15px;
      }
    }
  </style>
</head>

<body>

  <header class="header">
    <div class="header_in">
      <button type="button" class="toggle" id="toggle">
        <span></span>
      </button>
    </div>
  </header>
  <center><h1>Assigned Assignments</h1></center>
  <div class="sidebar" id='sidebar'>
    <ul>
      <li><a href="/student_dashboard">Dashboard</a></li>
      <li id="assignments-link"><a href="/assignment/<%=subject_name%>">Assignment</a></li>
      <form id="assignments-form" action="/assignments" method="POST" style="display: none;">

      </form>
    </ul>
  </div>

  <div class="assignments">

    <% for(let i=0;i<nsub_arr.length;i++){ %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Title: <%=nsub_arr[i].title%></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Due Date: <%=nsub_arr[i].due_date.toLocaleDateString()%></h6>
              <p class="card-text">Total score: <%=nsub_arr[i].total_score%></p>
              
              <form action="/submit-ass" method="post">
                <input type="hidden" name="ass_id" id="" value="<%=nsub_arr[i].ass_id%>">
                <input type="hidden" name="subject_name" id="" value="<%=nsub_arr[i].subject_name%>">
                <button style="padding: 4px; margin:4px" type="submit">submit</button>
              </form>
              
             
            </div>
          </div>

   <% }%>
    <% for(let i=0;i<sub_arr.length;i++){ %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Title: <%=sub_arr[i].title%></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Due Date: <%=sub_arr[i].due_date.toLocaleDateString()%></h6>
              <p class="card-text">Total score: <%=sub_arr[i].total_score%></p>
              
              <form action="/submit-ass" method="post">
                <input type="hidden" name="ass_id" id="" value="<%=sub_arr[i].ass_id%>">
                <input type="hidden" name="subject_name" id="" value="<%=sub_arr[i].subject_name%>">
                <button style="padding: 4px; margin:4px" type="submit" disabled>submitted</button>
              </form>
              
             
            </div>
          </div>

   <% }%>
</div>


  <footer class="text-muted text-center text-small test">
    <p>&copy; 2022-2023 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item pts"><a href="#">Privacy</a></li>
      <li class="list-inline-item pts"><a href="#">Terms</a></li>
      <li class="list-inline-item pts"><a href="#">Support</a></li>
    </ul>
  </footer>

  <script>
    var btn = document.querySelector('.toggle');
    var btnst = true;
    btn.onclick = function () {
      if (btnst == true) {
        document.querySelector('.toggle span').classList.add('toggle');
        document.getElementById('sidebar').classList.add('sidebarshow');
        btnst = false;
      } else if (btnst == false) {
        document.querySelector('.toggle span').classList.remove('toggle');
        document.getElementById('sidebar').classList.remove('sidebarshow');
        btnst = true;
      }
    }

    document.getElementById('assignments-link').addEventListener('click', function () {
      document.getElementById('assignments-form').submit();
    });
  </script>
</body>

</html>